extends layout

block content
  head
    style
      include ../style/style.css
    //- link(rel='stylesheet', href='style.css', type='text/css')
  body
    div.users
      each person in data
        div.person
          div.person-image
            img(src= person.avatar top center no-repeat;)
          div.info
            p #{person.first_name + " " + person.last_name} 
            p #{person.email}



 
